worker/step_functions_state_machine.json
{
  "Comment": "CR2A Contract Analysis with LLM Refinement",
  "StartAt": "GetContractMetadata",
  "States": {
    "GetContractMetadata": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:143895994429:function:cr2a-get-metadata",
      "TimeoutSeconds": 600,
      "Next": "CalculateChunks"
    },
    "CalculateChunks": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:143895994429:function:cr2a-calculate-chunks",
      "TimeoutSeconds": 600,
      "Next": "ProcessChunksInParallel"
    },
    "ProcessChunksInParallel": {
      "Type": "Map",
      "ItemsPath": "$.chunk_plan.chunks",
      "MaxConcurrency": 5,
      "Iterator": {
        "StartAt": "AnalyzeChunk",
        "States": {
          "AnalyzeChunk": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:143895994429:function:cr2a-analyzer-worker",
            "TimeoutSeconds": 900,
            "End": true
          }
        }
      },
      "Next": "AggregateResults"
    },
    "AggregateResults": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:143895994429:function:cr2a-aggregate-results",
      "TimeoutSeconds": 600,
      "Next": "CheckLLMEnabled"
    },
    "CheckLLMEnabled": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.llm_enabled",
          "BooleanEquals": true,
          "Next": "LLMRefinement"
        }
      ],
      "Default": "AnalysisSucceeded"
    },
    "LLMRefinement": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:143895994429:function:cr2a-llm-refine",
      "TimeoutSeconds": 900,
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed", "States.Timeout"],
          "IntervalSeconds": 5,
          "MaxAttempts": 2,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.llm_error",
          "Next": "AnalysisSucceeded"
        }
      ],
      "Next": "AnalysisSucceeded"
    },
    "AnalysisSucceeded": {
      "Type": "Succeed"
    }
  }
}